.container{
  width: 700px;
  margin: auto;
  font-family: Arial;
}

table{
  width: 100%;
  margin-top: 20px;
}

input{
  margin: 5px;
  padding: 5px;
}

button{
  margin: 5px;
  padding: 6px 10px;
}